#animLogo:hover > .path {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: dash 5s linear alternate;
}
  
@keyframes dash {
    from {
      stroke-dashoffset: 822;
    }
    to {
      stroke-dashoffset: 0;
    }
}

#animLogo:hover > .final {
    animation: mostrar 5s linear;
}
  
@keyframes mostrar {
    0%{
        opacity: 0%;
    }
    70%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
#animLogo:hover > .ojo{
    animation: abrirOjo 5s linear;

}
@keyframes abrirOjo {
    0%{
        ry: 0;
    }
    70%{
        ry: 40;
    }
    100%{
        opacity: 100%;
    }
}